@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hamburger-btn {
    @apply hidden max-768:block !z-30;
  }

  .hamburger-btn_items-wrapper {
    @apply flex items-center flex-col justify-center relative w-7 h-7;
    transition: transform 0.4s ease;
  }

  .hamburger-btn_item {
    @apply inline-block absolute w-full h-0.5 bg-white rounded-full;
    transition: transform 0.2s linear;
  }

  .hamburger-btn_item:nth-child(1) {
    transform: translateY(8px);
  }

  .hamburger-btn_item:nth-child(3) {
    transform: translateY(-8px);
  }

  /* active hamburger button */
  .hamburger-btn-active .hamburger-btn_items-wrapper {
    transform: rotate(135deg);
  }

  .hamburger-btn-active .hamburger-btn_item:nth-child(1) {
    transform: translateY(0) rotate(180deg);
  }

  .hamburger-btn-active .hamburger-btn_item:nth-child(2) {
    transform: rotate(90deg);
  }

  .hamburger-btn-active .hamburger-btn_item:nth-child(3) {
    transform: translateY(0) rotate(90deg);
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

* {
  z-index: 1;
}



.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.slash::after {
  display: inline-block;
  content: '>';
  margin: 0 15px;
}

button[aria-expanded="true"]+label {
  font-weight: 600 !important;
  font-size: 14px;
}

.slider {
  display: flex !important;
  flex-direction: row;
}

@media only screen and (max-width: 1000px) {
  .hero-big-text {
    @apply text-4xl;
  }
}

@media only screen and (max-width: 960px) {
  .slider {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 870px) {
  .hero-big-text {
    @apply text-3xl;
  }
}